<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <!-- Show SQL Queries -->
        <!-- <property name="show_sql">true</property> -->
 
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cide</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Cide2050</property>

        <!-- Mapping classes -->
        <mapping resource="com/github/pomaretta/cide/Department.hbm.xml"/>
        <mapping resource="com/github/pomaretta/cide/Person.hbm.xml"/>
        <mapping resource="com/github/pomaretta/cide/Teacher.hbm.xml"/>

    </session-factory>
</hibernate-configuration>